body {
  padding: 0;
  margin: 0;
  font-family: "Poppins"; }

.navbar {
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 0.5px 5px #817b7b;
  width: 100%; }
  .navbar-wrapper {
    width: 65%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
  .navbar_logo {
    width: 40%; }
  .navbar_items {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center; }
  .navbar_item {
    font-size: 14px;
    color: #292935;
    padding: 28px 0 27px;
    cursor: pointer;
    text-decoration: none; }
    .navbar_item a {
      text-decoration: none; }
    .navbar_item_search svg {
      width: 15px; }
    .navbar_item:hover {
      border-bottom: 2px solid #4044e6;
      text-shadow: 0px 0px 4px #3d3a3a; }
    .navbar_item:nth-last-child(1) {
      border-bottom: none; }
    .navbar_item .submenu {
      display: none; }
      .navbar_item .submenu li:hover {
        color: rebeccapurple; }
      .navbar_item .submenu .secondary-menu {
        display: none;
        position: absolute;
        left: 157px;
        background: #3d3a3a;
        padding: 15px;
        top: -15px; }
        .navbar_item .submenu .secondary-menu-item {
          padding: 5px 50px 5px 5px; }
          .navbar_item .submenu .secondary-menu-item:hover {
            color: rebeccapurple; }
    .navbar_item:hover ul {
      display: block;
      position: absolute;
      background: #3d3a3a;
      list-style: none;
      padding: 15px 0 15px 15px;
      top: 80px;
      z-index: 10; }
      .navbar_item:hover ul li {
        padding: 5px 50px 5px 5px;
        color: white;
        position: relative;
        transition: 0.2s; }
        .navbar_item:hover ul li:hover::after {
          content: url("../assets/iconmonstr-arrow-right-thin.svg");
          position: absolute;
          right: 0; }
        .navbar_item:hover ul li:hover .secondary-menu {
          display: block; }

.banner {
  width: 100%;
  text-align: center;
  background-image: url("../assets/group1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  justify-content: center;
  color: white; }
  .banner-text-main {
    font-size: 40px;
    margin-top: 90px;
    font-weight: 450; }
  .banner-text-subtext {
    font-weight: 550; }

.cards {
  position: relative; }
  .cards-img img {
    position: absolute;
    top: -150px;
    width: 650px; }
    @media screen and (max-width: 992px) {
      .cards-img img {
        width: 350px; } }
  .cards-container {
    margin-top: 300px; }
    @media screen and (max-width: 992px) {
      .cards-container {
        margin-top: 100px; } }
  .cards-img {
    display: flex;
    justify-content: center; }
  .cards-text {
    text-align: center;
    padding-top: 20px; }
    .cards-text p {
      color: #b5b5b5; }
  .cards .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 75px; }
    .cards .card-item {
      text-align: center;
      max-width: 30%; }
      .cards .card-item-title {
        font-size: 25px; }
      .cards .card-item-text {
        color: #b5b5b5; }
  .cards-bottom {
    text-align: center;
    color: #4044e6; }
    .cards-bottom-title {
      margin: 40px 0 10px 0; }

.about-us {
  width: 100%;
  height: 600px;
  background: url(../assets/Group55.png);
  background-repeat: no-repeat;
  margin-top: 150px;
  text-align: center;
  color: #fff;
  margin-top: 100px;
  position: relative; }
  .about-us-container {
    width: 65%;
    margin: 100px auto 150px; }
  .about-us-quots {
    padding: 50px 0 50px;
    font-style: italic;
    font-size: 22px; }
  .about-us-author {
    margin-bottom: 35px; }
  .about-us-authors {
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    bottom: -110px;
    left: 25%;
    align-items: center;
    justify-content: space-around; }
  .about-us-item:nth-child(1) {
    background: url(../assets/pexels-photo-251829.png);
    height: 50px;
    padding: 50px;
    background-repeat: no-repeat; }
  .about-us-item:nth-child(2) {
    background: url(../assets/Prostokat-18-kopia-3.png);
    height: 50px;
    padding: 50px;
    background-repeat: no-repeat; }
  .about-us-item img {
    padding-top: 75px;
    margin-left: -45px; }
  .about-us-item:nth-child(3) {
    background: url(../assets/egor.png);
    height: 50px;
    padding: 50px;
    background-repeat: no-repeat; }
  .about-us-item:nth-child(4) {
    background: url(../assets/Warstwa-8.png);
    height: 50px;
    padding: 50px;
    background-repeat: no-repeat; }
  .about-us-item:nth-child(5) {
    background: url(../assets/pexels-photo-251829.png);
    height: 50px;
    padding: 50px;
    background-repeat: no-repeat; }

.info {
  height: 400px;
  width: 100%; }
  .info-container {
    width: 85%;
    margin: 200px auto;
    text-align: center; }
    .info-container-title {
      font-size: 35px;
      color: #000;
      font-weight: 750; }
    .info-container-text {
      color: rgba(133, 133, 133, 0.8);
      font-size: 18px;
      font-weight: 500;
      margin-top: 35px; }
    .info-container-text-2 {
      color: rgba(133, 133, 133, 0.8);
      font-size: 18px;
      font-weight: 500;
      margin-top: 35px; }
      .info-container-text-2 span {
        color: #4044e6;
        font-size: 16px;
        font-weight: 500; }

.check {
  height: 500px;
  background: url(../assets/Group3.png);
  background-repeat: no-repeat;
  position: relative;
  width: 100%; }
  .check-container {
    width: 70%;
    margin: 0 auto; }
  .check-information {
    position: absolute;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-top: 120px; }
  .check-botton {
    position: absolute;
    color: #b6b6b9;
    margin-top: 300px;
    padding: 28px 8px;
    border: 2px solid #000; }
    .check-botton::before, .check-botton::after {
      content: '';
      display: block;
      position: absolute;
      background: #4044e6; }
    .check-botton::before {
      top: -15px;
      bottom: -15px;
      left: 15px;
      right: 15px; }
    .check-botton::after {
      top: 15px;
      bottom: 15px;
      left: -10px;
      right: -10px; }
    .check-botton a {
      background-color: #fff;
      padding: 20px 60px;
      text-decoration: none;
      color: #292935;
      font-weight: 800;
      border: none;
      cursor: pointer;
      position: relative;
      z-index: 1; }
      .check-botton a:hover {
        color: #562dc9;
        font-size: 20px;
        background-color: #242222; }
  .check-img {
    position: absolute;
    left: 1116px;
    top: 65px; }

.company {
  height: 240px;
  width: 100%;
  position: relative; }
  .company-container {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 15%; }

.footer {
  width: 100%;
  height: 580px;
  color: #fff;
  background: #292935; }
  .footer-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .footer-container-left {
      width: 35%;
      margin-top: 80px; }
      .footer-container-left img {
        height: 30px; }
      .footer-container-left p {
        margin-top: 50px;
        font-size: 17px;
        font-weight: 350; }
    .footer-container-right {
      width: 50%;
      display: flex;
      margin-top: 80px;
      flex-direction: row;
      justify-content: space-between; }
      .footer-container-right-item-1 {
        width: 40%; }
      .footer-container-right-item-2 {
        width: 60%; }
        .footer-container-right-item-2 ul {
          list-style-type: none;
          padding-left: 0 !important; }
        .footer-container-right-item-2 li {
          text-decoration: none;
          font-size: 17px;
          font-weight: 350;
          margin-top: 10px; }
      .footer-container-right span {
        font-size: 40px;
        font-weight: 350; }
  .footer-copyright {
    background: #24242e;
    width: 100%;
    height: 70px;
    margin-top: 60px; }
    .footer-copyright-container {
      width: 85%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .footer-copyright-container-dog {
        color: #fff;
        margin-top: 20px;
        font-weight: 400px; }
      .footer-copyright-container-links {
        margin-top: 20px; }
        .footer-copyright-container-links svg {
          margin-right: 20px; }

.footer-container-item-links {
  display: flex;
  flex-direction: column; }

.footer-container-item-links a {
  margin-top: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 350; }

@media screen and (max-width: 1280px) {
  .check-img {
    position: absolute;
    left: 897px; }

  .check-container {
    width: 100%;
    margin: 0 auto; } }
@media screen and (max-width: 1024px) {
  .check-img {
    position: absolute;
    left: 641px; } }
@media screen and (max-width: 960px) {
  .check-img {
    position: absolute;
    left: 577px; } }
@media screen and (max-width: 768px) {
  .check-img {
    position: absolute;
    left: 385px; }

  .check-container {
    width: 85%;
    display: flex;
    align-items: flex-start; }

  .check-information {
    position: absolute;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 120px; } }
@media screen and (max-width: 640px) {
  .check-img {
    position: absolute;
    left: 577px; } }
.mobile-nav {
  width: 100%;
  height: 80px;
  position: relative; }
  .mobile-nav-container {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white; }
    .mobile-nav-container-left {
      width: 50%; }
    .mobile-nav-container-right {
      width: 12%; }
      .mobile-nav-container-right-button {
        height: 36px;
        width: 40px; }
        .mobile-nav-container-right-button-z {
          border-bottom: 2px solid black;
          padding-bottom: 10px; }
        .mobile-nav-container-right-button:hover .mobile-nav-container-right-button-z {
          border-bottom: 2px solid rgba(87, 45, 201, 0.75); }
        .mobile-nav-container-right-button:hover .mobile-nav-items {
          display: block; }
      .mobile-nav-container-right .mobile-nav-items {
        display: none;
        position: absolute;
        background: #3d3a3a;
        width: 80%;
        left: 0;
        list-style: none;
        top: 64px;
        z-index: 15; }
        .mobile-nav-container-right .mobile-nav-items li {
          padding: 15px 0; }
        .mobile-nav-container-right .mobile-nav-items .mobile-secondary-menu-item {
          margin: 10px 0;
          border-bottom: none; }
        .mobile-nav-container-right .mobile-nav-items li:hover {
          color: #562dc9; }
        .mobile-nav-container-right .mobile-nav-items li:nth-child(2):hover div {
          color: white; }
          .mobile-nav-container-right .mobile-nav-items li:nth-child(2):hover div:hover {
            color: #562dc9; }
        .mobile-nav-container-right .mobile-nav-items li:nth-child(2):hover .mobile-secondary-menu {
          display: block; }
        .mobile-nav-container-right .mobile-nav-items .mobile-secondary-menu {
          display: none;
          height: 80px;
          width: 100px;
          padding: 10px 0 10px 30px; }

@media screen and (min-width: 481px) {
  .mobile-nav {
    display: none; }

  .cards-text-mobile {
    display: none; }

  .info-container-title-mob {
    display: none; }

  .info-container-text-mob {
    display: none; }

  .info-container-text-2-mob {
    display: none; }

  .company-mob {
    display: none; }

  .footer-container-item-mob {
    display: none; } }
@media screen and (max-width: 480px) {
  .navbar {
    display: none; }

  .cards-text {
    display: none; }
  .cards-text-mobile {
    display: block;
    text-align: center;
    padding-top: 20px; }
    .cards-text-mobile p {
      color: #b5b5b5; }
  .cards .card {
    flex-direction: column;
    align-items: center; }
    .cards .card-item {
      max-width: 80%; }
  .cards-bottom {
    font-size: 25px; }

  .about-us {
    background: url(../assets/Group55-mobile.png);
    background-repeat: no-repeat; }
    .about-us-container {
      width: 85%; }
    .about-us-quots {
      font-size: 20px; }
    .about-us-authors {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: absolute;
      bottom: -110px;
      left: 3%;
      align-items: center;
      justify-content: space-around; }
    .about-us-item img {
      width: 75px;
      padding-left: 6px; }
    .about-us-item:nth-child(1) {
      background-size: 75px 75px;
      padding: 30px;
      height: 75px; }
    .about-us-item:nth-child(2) {
      background-size: 75px 75px;
      padding: 30px;
      height: 75px; }
    .about-us-item:nth-child(3) {
      background-size: 75px 75px;
      padding: 30px;
      height: 75px; }
    .about-us-item:nth-child(4) {
      background-size: 75px 75px;
      padding: 30px;
      height: 75px; }
    .about-us-item:nth-child(5) {
      background-size: 75px 75px;
      padding: 30px;
      height: 75px; }

  .info-container-title {
    display: none; }

  .info-container-text {
    display: none; }

  .info-container-text-2 {
    display: none; }

  .info {
    height: 400px;
    width: 100%; }
    .info-container {
      width: 85%;
      margin: 200px auto;
      text-align: center; }
      .info-container-title-mob {
        font-size: 35px;
        color: #000;
        font-weight: 750; }
      .info-container-text-mob {
        color: rgba(133, 133, 133, 0.8);
        font-size: 18px;
        font-weight: 500;
        margin-top: 35px; }
      .info-container-text-2-mob {
        color: rgba(133, 133, 133, 0.8);
        font-size: 18px;
        font-weight: 500;
        margin-top: 35px; }
        .info-container-text-2-mob span {
          color: #4044e6;
          font-size: 16px;
          font-weight: 500; }

  .check-img {
    display: none; }

  .company {
    height: 240px;
    width: 100%;
    position: relative; }
    .company-pc {
      display: none; }
    .company-container {
      display: flex;
      width: 70%;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      top: 20%;
      left: 15%; }
    .company .w3-center {
      position: absolute;
      top: 100px; }
      .company .w3-center button:focus {
        outline: 0; }
    .company .w3-button {
      border-radius: 50%;
      height: 12px;
      width: 12px;
      border: none;
      background-color: #e0e0e9;
      cursor: pointer; }
      .company .w3-button:nth-child(1):hover {
        background-color: rgba(139, 45, 201, 0.8); }
      .company .w3-button:nth-child(2):hover {
        background-color: rgba(139, 45, 201, 0.8); }
      .company .w3-button:nth-child(3):hover {
        background-color: rgba(139, 45, 201, 0.8); }

  .company {
    height: 215px;
    width: 100%;
    position: relative; }
    .company-pc {
      display: none; }
    .company-mob .mySlides {
      display: flex;
      flex-direction: row; }

  .footer {
    width: 100%;
    height: 780px; }
    .footer-container {
      width: 90%;
      margin: 0 auto;
      display: block; }
      .footer-container-item-pc {
        display: none; }
      .footer-container-item-mob img {
        margin-top: 50px; }
      .footer-container-left {
        width: 100%;
        margin-top: 0; }
        .footer-container-left img {
          height: 30px; }
        .footer-container-left p {
          margin-top: 50px;
          font-size: 17px;
          font-weight: 350; }
      .footer-container-right {
        width: 100%;
        display: flex;
        margin-top: 50px;
        flex-direction: row;
        justify-content: space-between; }
        .footer-container-right-item-1 {
          width: 50%; }
        .footer-container-right-item-2 {
          width: 50%; }
          .footer-container-right-item-2 ul {
            list-style-type: none;
            padding-left: 0 !important; }
          .footer-container-right-item-2 li {
            text-decoration: none;
            font-size: 17px;
            font-weight: 350;
            margin-top: 10px; }
        .footer-container-right span {
          font-size: 37px;
          font-weight: 350; }

  .footer-copyright-container-dog {
    width: 72%; }

  .footer-copyright-container-links svg {
    margin-right: 10px; } }

/*# sourceMappingURL=style.css.map */
